<section class="instagram-wrap">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="instagram-content">
						<h3>Latest Snaps</h3>
						<div class="row photos-wrap">
						<div id="instafeed"></div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<div class="photo-box">
								<!-- <div class="image-wrap">
									<img src="images/flag.jpg">
									<div class="likes">309 Likes</div>
								</div> -->
							<!-- 	<div class="description">
									I tried to make a great #photo
									<div class="date">May 18,2015</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>